* {
    margin: 0;
    padding: 0;
}

.close-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0.5rem;
    top: 0;
    background: transparent;
}
.close-icon:hover{
    cursor: pointer;
    opacity: 0.6;
}
.file-drop {
    margin: 0.1rem;
    text-align: center;
    position: relative;
}

.noSelectTitle {
    user-select: none;
    /* For modern browsers */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For IE10+ */
    text-align: center;
}